{% extends 'baseUser.html' %}
{% block page %}
<div class="row m-4">
                    <div class="col-md-8">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-light p-2">آخر التدوينات</h3>
                            <ul>
                                <li><a href="#">التدوينة الأولى</a></li>
                                <li><a href="#">التدوينة الثانية</a></li>
                                <li><a href="#">التدوينة الثالثة</a></li>
                                <li><a href="#">التدوينة الرابعة</a></li>
                                <li><a href="#">التدوينة الخامسة</a></li>
                            </ul>
                        </div>
                        <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-light p-2">آخر التعليقات</h3>
                            <ul>
                                <li><a href="#">التعليق الأول</a></li>
                                <li><a href="#">التعليق الثاني</a></li>
                                <li><a href="#">التعليق الثالث</a></li>
                                <li><a href="#">التعليق الرابع</a></li>
                                <li><a href="#">التعليق الخامس</a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                {% endblock %}