{%extends 'baseBlog.html'%}
{%load static %}
{%block content%}


<ul class="p-4">
    <h2 class=""> أقسام الموقع : </h2><br/>
    
    {% for cat in category_list %}
    <li class="card p-8 mb-4 ">
        <img class="card-img-top" src="static/images/{{cat.pic}}" alt="{{cat.name}}">
        <div class="card-img-overlay">
            <a href="#" class=""><h3 class="card-title border-bottom"> &nbsp; {{cat.name}} </h3></a>
            <div class="card-body"> {{cat.desc}} </div>
        </div>
    </li>



    {%endfor%}

</ul>



{%endblock%}