{% extends 'baseUser.html' %}
{% load bootstrap4 %}

{%block page%}
{% if user.is_authenticated %}
<div class="formlogin" >
you already login. are you want to <a href="{% url 'logout' %}">logout</a>
</div>
{% else %}
<form class="form" enctype="multipart/form-data" method="POST" >
    <h2 class=" form-title">تسجيل مستخدم جديد</h2>
    {% csrf_token %}
{% bootstrap_form userForm layout="horizontal"  label_class="form-label col-md" %}
{% bootstrap_form profileForm layout="horizontal"  label_class="form-label col-md" %}

    {% buttons %}
    <input class=" btn btn-info btn-form" width="130px" type="submit" value="إنشاء حساب">
    {% endbuttons %}
</form>
{%endif%}

{% endblock %}